.App {
  text-align: center;
  text-decoration: none;
}

i.large.material-icons {
    font-size: 50px;
}

.nav {
    padding: 0px 15px 0px 15px;
}

/* Table header */
th.date-th {
    padding: 30px 100px 30px 0px
}
th.type-th {
    padding: 30px 100px 30px 0px;
}
th.amount-th {
    padding: 30px 100px 30px 0px;
}

/* Table values */
td.date-trans {
    padding: 30px 100px 30px 0px;
}
td.type-trans {
    padding: 30px 100px 30px 0px;
}
td.amount-trans {
    padding: 30px 100px 30px 0px;
}

div {
    color: black;
}

#table-row {
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin: 0px 0px 5px 0px;
}

#table-row:hover {
    background-color: #bbdefb;
}

h1 {
    font-size: 50px;
    margin: 0px 0px 15px 0px;
    padding: 50px 0px 0px 0px;
}

h1.col.s12 {
    padding: 50px 0px 0px 0px;
}

h2.col.s6 {
    margin: 0px 0px 20px 0px;
}

h2.positive.col.s6 {
 color: #2e7d32;
}
h2.negative.col.s6 {
 color: #d32f2f;
}

